@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,600;0,700;0,800;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: rgb(32, 33, 36);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-heading {
  background: #181818;
  padding: 10vh 0 20vh 0;
  width: 100%;
  text-align: center;
}

.blog-heading h1 {
  margin-bottom: 20px;
}

.list-of-blog-posts {
  margin-top: -12vh;
}

.blog-box {
  background-color: rgb(231, 231, 231);
  width: 70vw;
  display: flex;
  flex-direction: row;
  color: black;
  margin-bottom: 50px;
}

.blog-box:nth-child(even) .blog-img {
  order: 2;
}

.blog-img {
  width: 45%;
  object-fit: cover;
}

.blog-text {
  width: 55%;
  padding: 55px;
}

.blog-text p {
  font-size: 16px;
  color: rgb(77, 77, 77);
}

.blog-text p span {
  color: black;
  font-weight: 600;
}

.blog-text>* {
  padding: 15px 0;
}

.blog-post-title {
  padding: 20px 0 0 0;
}

.blog-post-details .date::after {
  content: "";
  width: 20px;
  height: 0.3rem;
  display: inline-block;
  border-top: 1px solid black;
  margin: 0 3px;
}

.blog-post-readmore-btn {
  float: right;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.blog-post-readmore-btn .arr-right-icon {
  padding: 0px 10px;
}

.blog-post-readmore-btn:hover .arr-right-icon {
  padding-right: 0px;
  transition: 0.2s ease-in;
}

@media only screen and (max-width:768px) {
  .blog-heading {
    text-align: center;
    margin: 0 5vw;
  }

  .blog-box {
    width: 90vw;
    flex-direction: column;
  }

  .blog-img,
  .blog-text {
    width: 100%;
  }

  .blog-post-description {
    padding: 0;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blog-box:nth-child(even) .blog-img {
    order: 1;
  }

  .blog-box:nth-child(even) .blog-text {
    order: 2;
  }
}